[submodule "ext/cci"]
	path = ext/cci
	url = https://github.com/allisterb/cci.git
[submodule "ext/specsharp"]
	path = ext/specsharp
	url = https://github.com/allisterb/specsharp-ms.git
[submodule "ext/analysis-net"]
	path = ext/analysis-net
	url = https://github.com/allisterb/analysis-net.git
[submodule "ext/TinyBCT"]
	path = ext/TinyBCT
	url = https://github.com/allisterb/TinyBCT.git
[submodule "ext/AGL"]
	path = ext/AGL
	url = https://github.com/allisterb/AGL.git
[submodule "ext/StratisSmartContractsSamples"]
	path = ext/StratisSmartContractsSamples
	url = https://github.com/stratisproject/StratisSmartContractsSamples.git
[submodule "ext/SharpSyntaxRewriter"]
	path = ext/SharpSyntaxRewriter
	url = https://github.com/allisterb/SharpSyntaxRewriter.git
